.main {
    padding-top: 60px; /* adjust this value to match the height of your navbar */
    max-width: 800px;
    margin: 0 auto;
  }
  
  .title {
    margin: 20px 0;
    color: #fff;
    font-size: 2em;
  }
  
  .description {
    margin: 20px 0;
    color: #fff;
    line-height: 1.6;
  }
  
  .hr {
    border: 0;
    height: 1px;
    color: #215085;
    opacity: 0.1;
  }
  
  .a {
    color: #0070f3;
    text-decoration: none;
  }
  
  .a:hover {
    text-decoration: none;
  }