.footer {
  background-color: #163558;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer .links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer .links a {
  margin-right: 20px;
}

.footer .copyright {
  margin-right: 50px;
}

.footer a {
  color: #fff;
  text-decoration: none;
  margin: 10px;
}

.footer a:hover {
  color: #54ACF5;
}

